/* Var police :*/

$police: "Helvetica Neue",
sans-serif;
$PoliceStyleTitre: italic;
$PoliceStyle: normal;

/* Var Button : (Default one on _button.scss):*/

//$button_width: ;
//$button_height: ;
//$button_fz: ;
//$button_ff: ;
//$button_color ;
//$button_bc: ;
//$button_bs: ;
//$button_br: ;
//$button_bw: ;
/* Var NavBar : (Default one on _nav.scss):*/

//$ColorLi: ;
//$ColorLiDisabled: ;
//$ColorLiActived: ;
//$ColorLiHover: ;
